mkdocs==1.6.1
mkdocs-material==9.7.6
mkdocs-obsidian-links==1.0.4
mkdocs-network-graph-plugin @ git+https://github.com/develmusa/mkdocs-network-graph-plugin.git
mkdocs-glightbox
# Add any other plugins you use here